.form {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  max-width: 400px; 
  margin: 20px auto; 
}
.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 15px;
}

.form-row label{
  flex: 1;
  text-align: left;
  font-weight: bold;
}

.form-row input,
.form-row select {
  flex: 2;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
   padding: 10px;
}

.form button{
  width: 40%;
  align-self: center;
  margin-top:15px;  
  font-size: 17px
}
