#root {
  
  margin: 0 auto;
  
  text-align: center;
}

.main-header{
  display: flex;
  justify-content: space-between;
  text-align: left;    
  padding-left: 2em;
  background-color: rgb(142, 171, 226);
}

.navigation{
  font-size: 20px;  
  display: flex;
  gap: 80px;
  margin-right: 150px;
}

.navigation a{
color:  #242424;
}

.navigation a:hover{
  color:  #4b4a4a;
  background-color:rgb(181, 201, 238) ;
  padding: 7px;
  margin: -7px;
  border-radius: 10px;
}

.main-header, .navigation{
  align-items: center;
}

.footer{
  
  position: fixed;
  bottom: 0;
  width: 100%;

  
}

/* .logo {  
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
